/* -------------------FOOTER------------------- */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #285471;
    color: white;
}

.main_content {
    display: flex;
}

.titulo_blog {
    margin-top: 10px;
    margin-bottom: 10px;
}
.subtitulo_blog {
    margin-bottom: 5px;
}

.text {
    font-size: 12px;
    font-family: 'corsaGroteskRegular';
}

.main_content .titulo_footer {
    background-color: white;
}

.main_content .left {
    margin-left: 5%;
    padding-right: 20px;
}

.main_content .center {
    padding-left: 20px;
    border-color: #FFFFFF;
    border-left: 2px solid;
    margin-top: 40px;
}

.main_content .right{
    padding-left: 300px;
    padding-right: 5%;
}

.main_content .fas {
    padding-bottom: 5px;
}

.btn_footer {
    display: inline-block;
}

.right button {
    font-size: 12px;
}

.boton_up {
    font-size: 25px;
    top: 4%;
    left: 90%;
    position: absolute;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

/*--------------- MEDIA QUERY (RESPONSIVE) ---------------*/

@media screen and (min-width:1600px) {
    .titulo_blog {
    font-size: 2.5vw;
    }
    .subtitulo_blog {
    font-size: 2vw;
    }
    #subtitulo_blog_2{
        margin-top: 100px;
    }
    .text {
    font-size: 1.3vw;
    }
    .fas {
        font-size: 40px;
        margin-bottom: 15px;
    }
    .main_content .right{
    padding-left: 300px;
    }
    textarea {
    width: 600px;
    height: 130px;
    }
    .input_email {
        width: 500px;
        height: 50px;
    }
    .right button {
    font-size: 1vw;
    }
 }

@media screen and ( max-width: 1024px) {
    .main_content .right{
    padding-left: 100px;
    padding-right: 10px;
    }
    .boton_up {
    font-size: 20px;
    }
}

@media screen and ( max-width: 880px) {
    .text {
        font-size: 10px;
    }
    .subtitulo_blog {
    font-size: 15px;
    }

}

/*--------------- FOOTER MOVIL ---------------*/

div.fondo_footer_movil {
    background: url(../m/cabeceras/img_movil/fondo_footer_movil.png);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
}

.footer_movil_content {
    display: block;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.footer_movil_content .fas {
    padding-bottom: 5px;
}

.titulo_footer_movil {
    font-size: 1.2em;
    margin-bottom: 0px;
    margin-top: 10px;
}
.subtitulo_footer_movil {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_movil_text {
    font-family: 'corsaGroteskRegular';
    font-size: 0.9em;
    text-decoration: none;
}

.up_box {
    margin-bottom: 15px;
}
.place {
    margin-top: 10px;
}

.middle_box {
    border-top: 2px solid;
}

textarea {
    width: 250px;
    height: 80px;
    }


@media only screen 
and (max-device-height : 667px){
    textarea {
    width: 250px;
    height: 35px;
    }

    .titulo_footer_movil {
    font-size: 1em;
}
.subtitulo_footer_movil {
    font-size: 0.6em;
}
.footer_movil_text {
    font-size: 0.3em;
    }
}