header {
    margin: auto;
    padding-top: 3em;
    padding-left: 3em;
    object-fit: cover;
    z-index: 10;
    position: absolute;
    /*background-color: #DD7575;*/
}

header nav a { /*PARAMETROS DE LETRAS DEL HEADER*/
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 1em;
    font-size: 1.4vw;
    padding: 0em 0.3em;
}

/*---------------------EFECTO DE HOVER EN LAS LETRAS DEL HEADER---------------------*/
header nav a:hover {
    color: #0688E3;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: 0.5s;
}


/*--------------- MEDIA QUERY (RESPONSIVE) ---------------*/
@media screen and ( max-width: 1024px) {

    header nav a {
    font-size: 15px;
    }
}

@media screen and ( max-width: 830px) {

    header {
        width: 50%;
    }
}

@media screen and ( max-width: 500px) {

    header {
        display: none;
    }
}


/* --------------------------- NAVBAR RESPONSIVE ------------------------------ */

.topnav {
    overflow: hidden;
    background-color: #FFFFFF;
    position: sticky;
    z-index: 10;
}

.topnav2{
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo_header_movil{
    width: 100px;
    margin: 5px 10px;
}


.topnav a, .topnav2 a {
    float: left;
    display: block;
    color: #285471;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover, .topnav2 a:hover {
    
    color: black;
}

.topnav a.active, .topnav2 a.active {
    color: white;
}

.topnav .icon, .topnav2 .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .topnav2 a:not(:first-child) {
        display: none;
    }

    .topnav a.icon,.topnav2 a.icon {
        float: right;
        display: block;
    }
}


@media screen and (max-width: 600px) {
    .topnav.responsive, .topnav2.responsive {
        position: relative;
    }

    .topnav.responsive .icon, .topnav2.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a,.topnav2.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 600px) {

    .topnav,.topnav2 {
        display: none;
    }

}